<form method="POST" action="{{ site.mailchimp_action }}&amp;id=5d3de04c7d" id="mc-signup" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <!-- This is required for the form to work correctly -->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="{{ site.mailchimp_input }}" tabindex="-1" value="">
  </div>

  <div class="form-group">
    <input id="mce-EMAIL" type="email" name="EMAIL" placeholder="Email Address">
  </div>
  <div class="form__btn">
    <input id="mc-subscribe" type="submit" value="Sign Up" name="subscribe">
  </div>
</form>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

<p class="subscribe__error hidden"></p>
